<div class="about-partner-html">
    <img src="https://image03.halove.com/website/halove_mobile_20170118/images/bg_partner.jpg" alt=""/>
    <div class="detail">
        <div class="title">创始人团队</div>
        <div class="line">——</div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_1.png" alt=""/>
            <div class="left-detail">
                <div class="name">邵晨曦</div>
                <div class="type">
                    创始人<br/>
                    &nbsp;
                </div>
                <div class="line">—</div>
                <div class="history">
                    著名天使投资人<br/>十大新锐浙商
                </div>
            </div>
        </div>
        <div class="history-exp">
            十年行业沉淀，中国第一代3G移动网络开拓者，IT影响力人物。孵化多家互联网“独角兽”，现专注于人工智能与亲情交互领域，致力构建全球首个移动互联网+亲情生态链。求学期间，师从863专家“中国产品数据管理之父”祁国宁教授，是中国服装行业首个大型商业智能系统开发核心成员，荣膺中国优秀信息化工程20强。创业期间，全球交付量3年突破2千万台，为中国的智能通讯终端产业在国际打开新格局。
        </div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_2.png" alt=""/>
            <div class="left-detail">
                <div class="name">金杰</div>
                <div class="type">
                    联合创始人<br/>
                    业务运营&营销销售
                </div>
                <div class="line">—</div>
                <div class="history">
                    实战派营销专家<br/>
                    互联网+演绎者
                </div>
            </div>
        </div>
        <div class="history-exp">
            破局颠覆一直是他的代名词，前中国500强奥克斯家电事业部总裁，开创了同行业首次嫁接互联网的先河，一天一万台的销售奇迹改变了互联网家电运作的轨迹，至今仍拥有以极短周期突破100亿规模的指数级增长纪录。近几年积极投身于互联网+制造的浪潮中，孵化并参与了多家移动互联网企业。中国杰出营销人金鼎奖、中国营销创新奖TOP10大奖获得者。
        </div>

        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_3.png" alt=""/>
            <div class="left-detail">
                <div class="name">王岳</div>
                <div class="type">
                    联合创始人<br/>
                    产品规划&客户体验
                </div>
                <div class="line">—</div>
                <div class="history">
                    20年IT教父<br/>产品教官
                </div>
            </div>
        </div>
        <div class="history-exp">
            互联网时代工匠精神的坚守者，尊重“人”的价值，骨子里的创新派。前锤子科技核心创始人之一，与团队成功塑造了Smartisan T系列人气产品；前摩托罗拉，诺基亚（亚太区）产品战略规划师，曾打造出“全球智能手机鼻祖”—Moto第一部触屏中文手写手机、第一款蓝牙耳机、第一款车载蓝牙语音系统，诺基亚WP系统Lumia系列智能手机等。对智能手机、智能穿戴、智能交互及移动互联网的未来趋势有着清晰的把控。
        </div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_4.png" alt=""/>
            <div class="left-detail">
                <div class="name">苏伟</div>
                <div class="type">
                    联合创始人<br/>
                    技术研发&终端架构
                </div>
                <div class="line">—</div>
                <div class="history">
                    研发才子<br/>
                    颠覆追求者
                </div>
            </div>
        </div>
        <div class="history-exp">
            全程亲历华为手机业务“从无到有”“从大到强”，华为首款销量百万级CDMA终端机、首款P系超薄旗舰机、Mate系商务爆款硬件负责人，14年荣耀奠基者，技术研发巨炮。率先将互联网产品营销模式融入传统研发制造领域，“简洁化技术创新”在保证研发整体活力和敏锐同时，为品牌敲开通往“高端”的大门。同时，其第一代“永不断电”主动降噪耳机设计，斩获三项发明专利，为华为品牌应用体验带来指数级提升。
        </div>

        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_5.png" alt=""/>
            <div class="left-detail">
                <div class="name">郑国君</div>
                <div class="type">
                    联合创始人<br/>
                    供应链&服务
                </div>
                <div class="line">—</div>
                <div class="history">
                    MBA毕业生创业导师<br/>连续创业者
                </div>
            </div>
        </div>
        <div class="history-exp">
            身经百战的实战派创业导师，“从不安分”的互联网 +生态体系革新者。商业嗅觉极度敏锐，擅于挖掘并快速引爆大众消费市场。由他主导的国内首款SOS+定位功能手机，仅08年出货量就已突破700万台，缔造功能机不衰经典；近年来，专注于高端品牌与前沿科技的跨界整合，推出的全球首款智能珠宝，前瞻性的市场解决方案获得行业瞩目。国家863、国家自然基金项目、浙江省重大科技项目攻关组成员。
        </div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_6.png" alt=""/>
            <div class="left-detail">
                <div class="name">袁建</div>
                <div class="type">
                    联合创始人<br/>
                    运营架构&销售市场
                </div>
                <div class="line">—</div>
                <div class="history">
                    爆款制造者<br/>
                    互联网新营销攻心师
                </div>
            </div>
        </div>
        <div class="history-exp">
            有能力有原则有情谊，通信行业资深营销指挥官。前摩托罗拉（中国）移动、TCL、青橙科技等营销管理负责人，曾引爆motorola V8、U9等产品，中国区营销杰出贡献奖得主。他擅长用战略的眼光规划渠道建设，用品牌思路整合渠道资源，主导并完善了行业联合定制厂商“结盟共赢”的营销模型。近年来，秉持“以产品和成本结构为导向”的互联网营销思维，首度实现了迪斯尼品牌与儿童智能穿戴的跨界融合，并系统培育出家庭购物频道与品牌手机的联合营销通路，在业界享有极高的声誉。
        </div>

        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_7.png" alt=""/>
            <div class="left-detail">
                <div class="name">孙建光</div>
                <div class="type">
                    联合创始人<br/>
                    品牌运营&市场营销
                </div>
                <div class="line">—</div>
                <div class="history">
                    国际4A资深广告人<br/>十佳新锐设计师
                </div>
            </div>
        </div>
        <div class="history-exp">
            世界500强企业“品牌人格”塑造师，全球最大创意传播集团奥美（中国）资深创意长，中国区广告创意大赛、设计年鉴获奖人。曾成功服务于万科、万达、华润、中国联通、德意电器、万向集团等本土知名企业。拥有国际化的品牌传播策略、敏锐的洞察力、和直抵人心的视觉表达与逻辑演绎能力，擅于在互动、创新中捕捉灵感，为互联网+品牌推广寻找到新的平衡。
        </div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_8.png" alt=""/>
            <div class="left-detail">
                <div class="name">葛广超</div>
                <div class="type">
                    联合创始人<br/>
                    项目管理&精品研发
                </div>
                <div class="line">—</div>
                <div class="history">
                    国际跨界鬼才<br/>
                    奢侈品牌整合者
                </div>
            </div>
        </div>
        <div class="history-exp">
            拒绝循规蹈矩的“野心家”， 全球互联网+高端品牌生态圈推行者，撼动传统商业格局的先锋力量，前富士康集团项目高级负责人，奢侈品手机顶尖设计机构施泰姆STD•EM创始人，曾成功为阿斯顿•马丁（ASTON MARTIN）、兰博基尼（Lamborghini）等国际品牌定制开发奢华智能终端并打造国内首款智能首饰，以“开放合作”的共赢思维跨界颠覆，为“轻奢”重新定义。
        </div>

        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_9.png" alt=""/>
            <div class="left-detail">
                <div class="name">杨磊</div>
                <div class="type">
                    联合创始人<br/>
                    移动端产品&运营
                </div>
                <div class="line">—</div>
                <div class="history">
                    新物种联盟<br/>超级IP孵化者
                </div>
            </div>
        </div>
        <div class="history-exp">
            13年互联网老兵，前百度创新发展部产品负责人，前阿里巴巴一淘网产品总监，前阿里移动事业群神马InnoLAB创新实验室总指挥，国内首批音乐互动社区创始人，九三学社社员。曾孵化百度影视（爱奇艺前身）、百度游戏、百度杀毒、百度币等前向业务，为百度的多元化转型探索新路径。由他带队负责的一淘网整体产品线搭建、神马搜索等，也为阿里巴巴“连接人与服务”，抢占O2O入口角力移动搜索领域开疆拓土。
        </div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_10.png" alt=""/>
            <div class="left-detail">
                <div class="name">曹志灵</div>
                <div class="type">
                    联合创始人<br/>
                    交互设计&亲情智能<br/>系统开发
                </div>
                <div class="line">—</div>
                <div class="history">
                    智能哲学<br/>
                    首席用户体验官
                </div>
            </div>
        </div>
        <div class="history-exp">
            精密解构,化繁为简，勇于拒绝潮流、不断探寻"交互平衡之道"的腾讯资深设计人,前一加手机、金立IUNI手机产品设计总监。突破常规又不失精致的创作风格,满足感官逻辑同时,通过温暖、时尚、简约的全局观现代设计语言,深刻触摸人性。其中,他为一加深度定制的"氢OS"(HydrogenOS)大幅颠覆Android系统,独创的“氢视窗”被誉为最美第一屏,全面提升了终端产品的用户体验。
        </div>

        <div class="title seed-top">种子团队</div>
        <div class="line">—</div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_11.png" alt=""/>
            <div class="left-detail">
                <div class="name">丁京涛</div>
                <div class="type">
                    品质总监
                </div>
                <div class="line">—</div>
                <div class="history">
                    品控教头<br/>完美主义者
                </div>
            </div>
        </div>
        <div class="history-exp">
            追逐完美的狂热派，前魅族手机品质负责人，在平凡中创造“非凡”的梦想家。在他的积极作用下，不仅完成了魅族品质部门的整体搭建，更在堪称品牌里程碑的M8、M9及MX系列手机的品控上，从研发品质、原材料、生产制程、成品检测到入库、售后质量的跟踪解决等，层层把关，最终得以创造出如今年销量2000万的品牌业绩和口碑，帮助魅族完成了从一个小众品牌走向大众的蜕变，获得“业界良心”的高度评价。
        </div>
        <div class="partner-detail">
            <img src="https://image03.halove.com/website/halove_mobile_20170118/images/img_12.png" alt=""/>
            <div class="left-detail">
                <div class="name">夏凯</div>
                <div class="type">
                    首席ID设计师
                </div>
                <div class="line">—</div>
                <div class="history">
                    艺术实用派<br/>
                    iF产品设计奖
                </div>
            </div>
        </div>
        <div class="history-exp">
            自由流畅、简约而富有温度的现代设计风格，前PPTV、中兴、SHARP夏普（中国）资深合作设计师，德国iF产品设计奖、iF top300、韩国仁川创意奖、台湾国际创意奖等40余大奖获得者。专注于互联网智能硬件的产品创意与CMF设计研究，擅长以逻辑推理演绎创新思维，基于“以人际交往为中心”设计理念，通过精密计算，将每一根线条和细节发挥到极致，为品牌定制出ke-ce高端系列净化器、面向全球市场的中兴手机等热销产品。
        </div>
    </div>
</div>









