<div class="software-html">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_1.png" class="img1">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_2.png">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_3.png">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_4.png">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_5.png">
     <img src="https://image03.halove.com/website/halove_web/images/store_0418/Bg_product_6_4-20.png">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_7.png">
     <img src="https://image02.halove.com/website/halove_mobile_20170118/images/store_0418/Bg_product_8.png">
 </div>