<div class="home-html">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="https://image03.halove.com/website/halove_mobile_20170118/images/Bg_Index_slide1.png" alt="" /></div>
      <div class="swiper-slide"><img src="https://image03.halove.com/website/halove_mobile_20170118/images/Bg_Index_slide2.png" alt="" /></div>
      <div class="swiper-slide"><img src="https://image03.halove.com/website/halove_mobile_20170118/images/Bg_Index_slide3.png" alt="" /></div>
    </div>
    <div class="swiper-pagination"></div>
    <div style="display: none" class="swiper-button-next"></div>
    <div style="display: none" class="swiper-button-prev"></div>
  </div>
  <div class="product-box">
    <a v-link="{name:'itemPage',params: {itemCode: itemCode}}" class="buy1">
      立即购买
    </a>
    <a v-link="{ name:'software',params:{}}" class="detail1">
      了解详情
    </a>
    <img src="https://image03.halove.com/website/halove_mobile_20170118/images/hpBg1.jpg" alt="" class="imgShow first" />
  </div>
  <div class="product-box">
    <a v-link="{name:'itemPage',params: {itemCode: itemCode}}" class="buy2">
      立即购买
    </a>
    <a v-link="{ name:'software',params:{}}" class="detail2">
      了解详情
    </a>
    <img src="https://image03.halove.com/website/halove_mobile_20170118/images/hpBg2.jpg" class="imgShow" />
  </div>
  <div class="product-box">
    <a v-link="{name:'itemPage',params: {itemCode: itemCode}}" class="buy3">
      立即购买
    </a>
    <a v-link="{ name:'software',params:{}}" class="detail3">
      了解详情
    </a>
    <img src="https://image03.halove.com/website/halove_mobile_20170118/images/hpBg3.jpg" class="imgShow" />
    <a v-link="{ name:'software',params:{}}" class="box1-cover"></a>
  </div>
</div>
