
<div class="about-us-html">
    <img src="https://image03.halove.com/website/halove_mobile_20170118/images/bg_aboutus.jpg" alt="" class="img1" />
    <div class="begin">
        <div class="title">起源</div>
        <div class="name">
            为重要的人<br/>
            做有意义的事
        </div>
        <div class="line">——</div>
        <div class="description">
            让科技回归温暖，让每一位父母不再孤单，让儿女都能表达心底的爱，给予家人实时的关怀与陪伴，就如同你一直在身边……而这，也是Halove（九爱）集结的初衷。
        </div>
    </div>
    <img src="https://image03.halove.com/website/halove_mobile_20170118/images/bg_aboutus_2.jpg" alt="" />
    <div class="detail border-bottom">
        <img src="https://image03.halove.com/website/halove_mobile_20170118/images/icon_companyintroduction.png" alt=""/>
        <div class="title">公司简介</div>
        <div class="titleEn">Company Introduction</div>
        <div class="line">——</div>
        <div class="description">
            杭州九爱科技有限公司，为打造全球卓越的亲情智能平台，以移动智能终端设备为战略入口，优化整合社区服务、大健康、智慧家庭等产业链资源，业务覆盖智能手机、VR、可穿戴智能设备、 九爱智慧云、社区O2O服务、社区医疗等，是一家系统的“亲情关爱”智能解决方案与服务提供商。<br/><br/>
            公司首轮获得超亿元规模天使投资，投资方包括多家上市公司、大健康产业龙头及知名创投机构。团队成员主要来自微软、诺基亚、三星、HTC、华为、锤子、魅族、阿里、腾讯等一线企业高管及核心岗。 其中，前京东商城CTO李大学担任Halove（九爱）首席技术顾问，前微软高级副总裁、PPTV创始人陶闯担任Halove（九爱）董事。
        </div>
    </div>
    <div class="detail border-bottom">
        <img src="https://image03.halove.com/website/halove_mobile_20170118/images/icon_globalization.png" alt=""/>
        <div class="title">全球化多元战略合作</div>
        <div class="titleEn">Globalization Strategic Cooperation</div>
        <div class="line">——</div>
        <div class="description">
            Halove（九爱）吸引多家前沿领域实力伙伴深度合作，包括：美国硅谷人工智能团队 、北斗高精导航互联网平台、业界领先的智能手环移动互联网平台、移动互联网医疗独角兽企业、国内社区服务O2O互联网平台等，它们将共同支撑Halove（九爱）亲情智能平台的全面打造。<br/><br/>
            创始团队作为高通(Qualcomm)资深合作伙伴，与亚洲知名设计公司橙果设计(DEMinc.)合作，完成全球首款Halove亲情智能手机概念设计方案，预计2016年推出上市，引领以情感体验为核心的消费时代的到来！
        </div>
    </div>
    <div class="detail border-bottom">
        <img src="https://image03.halove.com/website/halove_mobile_20170118/images/icon_service.png" alt=""/>
        <div class="title">国内一二线城市服务落地</div>
        <div class="titleEn">Reliable Service</div>
        <div class="line">——</div>
        <div class="description">
            Halove（九爱）亲情产业链下游，各大基础服务平台正加速搭建落实中。<br/><br/>
            目前，已涵盖拥有2500多家全国社区服务分站的健康家庭平台，及覆盖千余座城市、中国一二线主流城市的SOS紧急救助中心等。未来，不仅将为Halove用户提供针对父母家人的营养搭配、导医咨询、康复理疗等线下服务；更将24小时全天在线，守护家人的健康生命安全。
        </div>
    </div>
</div>



    

		

      

