<div class="contact-us-html">
    <img src="https://image02.halove.com/website/halove_mobile_20170118/images/bg_contact.jpg" alt="" class="img1" />
    <div class="begin">
        <div class="name">
            公司地址
        </div>
        <div class="line">——</div>
        <div class="description">
            杭州九爱科技有限公司
        </div>
        <div class="address">
            公司地址：杭州市滨江区建业路511号华创大厦20楼<br/>
            服务电话：400-618-9292
        </div>
    </div>
    <div class="continue">
        <div class="name">
            商务合作
        </div>
        <div class="line">——</div>
        <div class="address">
            销售合作：dawnlee@halove.com<br/>
            市场推广合作：market@halove.com
        </div>
    </div>
    <div class="continue bottom1">
        <div class="name">
            加入九爱
        </div>
        <div class="line">——</div>
        <div class="address">
            简历投递：hr@halove.com
        </div>
    </div>
</div>