
<nav class="st-menu st-effect-4 nav-html">
 <ul>
    <li class="logo"><img src="https://image03.halove.com/website/halove_mobile_20170118/images/logo.png"></li>
    <li>
        <a class="ico home" v-link="{name:'homepage',params:{}}">
           九爱<img src="https://image03.halove.com/website/halove_mobile_20170118/images/nextIcon.png"/>
        </a>
    </li>
    <li>
       <a class="ico home" v-link="{name:'software',params:{}}">
           产品<img src="https://image03.halove.com/website/halove_mobile_20170118/images/nextIcon.png" />
         </a>
     </li>

    <li>
       <a class="ico services" v-link="{name:'service',params:{}}">
          服务<img src="https://image03.halove.com/website/halove_mobile_20170118/images/nextIcon.png"/>
       </a>
   </li>
   <li>
      <a class="ico gallery" v-link="{name:'download',params:{}}">
         下载<img src="https://image03.halove.com/website/halove_mobile_20170118/images/nextIcon.png"/>
      </a>
   </li>
   <li>
      <a class="ico gallery" v-link="{name:'storePage',params:{}}">
         商城<img src="https://image03.halove.com/website/halove_mobile_20170118/images/nextIcon.png"/>
      </a>
    </li>
   <li>
      <a class="ico gallery" v-link="{name:'repair',params:{}}">
         售后<img src="https://image03.halove.com/website/halove_mobile_20170118/images/nextIcon.png"/>
      </a>
   </li>
 </ul>
</nav>
    